@media (max-width: 1024px) {
  .explain {
    width: 320px;
  }
  h1 {
    font-size: 36px;
  }

  .explain p {
    font-size: 14px;
  }

  .main {
    gap: 100px;
  }
}

@media (max-width: 768px) {
  .main {
    gap: 60px;
  }
  .explain {
    width: 260px;
  }
  h1 {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .main {
    flex-direction: column;
  }
  .explain {
    text-align: center;
    margin: 0 0px 0 0px;
    width: 300px;
  }

  .main {
    padding-top: 0px;
    padding-bottom: 70px;
  }

  h1 {
    font-size: 38px;
  }

  .explain p {
    font-size: 18px;
  }

  .purple {
    position: absolute;
    top: 0;
    width: 50%;
    height: 80vh;
    background: linear-gradient(var(--Light-Magenta), var(--Light-Violet));
    border-radius: 0 0 1000px 0;
    z-index: -1;
  }

  .grey {
    position: absolute;
    width: 50%;
    height: 500px;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1000px 0 0 0;

    background: rgba(128, 128, 128, 0.06);
  }
}
