/*
## Colors

### Primary

#### Text

- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

#### Gradients

These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

### Secondary

- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%)


### Body Copy

- Font size: 16px

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500, 700 */

:root {
  /* ## Text: */
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* ## Gradients */
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* ## Secondary */
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  background-color: var(--Light-Grayish-Violet);
}

.mobile {
  position: relative;
  width: 300px;
  height: 600px;
  border: 10px solid #fff;
  border-radius: 32px;
  box-shadow: 0 10px 20px var(--Grayish-Blue);
  background-color: var(--Light-Grayish-Violet);
}

.header {
  height: 90px;
  background: linear-gradient(
    to right,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  border-radius: 20px 20px 8px 8px;
}

.white-stripe {
  position: absolute;
  width: 160px;
  height: 22px;
  top: 0px;
  left: 60px;
  border-radius: 0 0 18px 18px;
  background-color: #fff;
  z-index: +2;
}

.desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px;
}

.chevron {
  color: #fff;
  font-size: 20px;
  opacity: 0.8;
  margin-top: 2px;
  margin-right: 4px;
  margin-left: -8px;
}

.avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 14px;
  margin-top: 2px;
  border: 1.6px solid var(--White);
}

.name {
  color: var(--White);
  font-weight: 500;
  margin-bottom: 2px;
  opacity: 0.8;
}

.status {
  font-size: 10px;
  color: var(--White);
  opacity: 0.4;
}

.dots {
  position: absolute;
  color: var(--White);
  opacity: 0.8;
  margin-left: 230px;
  font-size: 14px;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px;
  font-size: 10px;
  border-radius: 10px 10px 20px 20px;
  margin-top: 4px;
}

.text {
  border-radius: 15px;
}

.reply {
  background-color: hsla(276, 55%, 52%, 0.171);
  max-width: 60%;
  margin: 0 0 10px 4px;
  padding: 10px 10px 8px 12px;
  border-bottom-left-radius: 0;
  color: hsl(274, 55%, 52%);
  opacity: 0.8;
  box-shadow: 0 10px 20px hsla(206, 7%, 79%, 0.4);
}

.pics {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4px;
}

.pics img {
  width: 58px;
  height: 58px;
  border-radius: 18px;
  padding: 6px 6px;
  cursor: pointer;
}

.user {
  max-width: 60%;
  width: fit-content;
  background-color: var(--White);
  display: flex;
  align-items: flex-end;
  margin-left: 120px;
  color: var(--Desaturated-Dark-Violet);
  padding: 10px;
  border-bottom-right-radius: 0;
  margin-top: 6px;
  margin-right: 5px;
  box-shadow: 0 10px 20px hsla(206, 7%, 79%, 0.4);
}

.user1 {
  margin-left: auto;
  margin-bottom: 7px;
  margin-bottom: 14px;
}

.offer {
  max-width: 75%;
  background: linear-gradient(
    to right,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  padding: 2px 25px 2px 13px;
  color: var(--White);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  margin: 0 0 8px 4px;
  height: 36px;
}

.circle-icon {
  font-size: 18px;
  opacity: 0.4;
}

.offer p {
  margin-left: -18px;
  opacity: 0.8;
}

.offer span {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.9;
}

.hour {
  margin-left: -40px !important;
}

form {
  display: flex;
  margin-top: 8px;
}

input {
  position: absolute;
  font-size: 12px;
  width: 100%;
  padding: 12px 25px 12px;
  border-radius: 35px;
  border: 1px solid var(--Light-Grayish-Violet);
  opacity: 0.6;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  margin-top: 8px;
}

.input-field {
  position: relative;
  display: flex;
}

.arrow {
  position: absolute;
  margin-left: -53px;
  font-size: 34px;
  top: 12px;
  right: 4px;
  color: var(--Very-Dark-Desaturated-Violet);
  cursor: pointer;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 100px; */
}

.main {
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
}

.explain {
  width: 380px;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--Very-Dark-Desaturated-Violet);
}

.explain p {
  color: var(--Dark-Grayish-Violet);
  line-height: 1.6;
}

.purple {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 70vh;
  background: linear-gradient(var(--Light-Magenta), var(--Light-Violet));
  border-radius: 0 0 1000px 0;
  z-index: -1;
}

.grey {
  position: absolute;
  width: 50%;
  height: 500px;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 1000px 0 0 0;
  background: rgba(128, 128, 128, 0.06);
}
